.agent/skills/
backend/.env
frontend/.env
.node_modules
node_modules
.agent/
.agents/
.vscode/settings.json
.skills-lock.json


# Dependencies
node_modules/
frontend/node_modules/
backend/.m2/

# Build artifacts
frontend/dist/
frontend/dist-ssr/
backend/target/

# Env files
.env
.env.*

# Logs
*.log
backend/boot-run.log

# IDE / Editor
.vscode/
.idea/
*.iml
.classpath
.project
.factorypath
.settings/

# OS
.DS_Store
Thumbs.db
skills-lock.json
vibe.md
.m2